build/
dist/
docker/chroma_data/chroma.sqlite3
docker/chroma_data/*-*-*-*-*
newsies.egg-info
daily_news/2025*/*
junit/*
.vscode
__pycache__/
*.py[cod]
notebooks/.ipynb_checkpoints/*
.newsies.pid
newsies.log
nohup.out
docker/chroma_data/chroma.sqlite3-journal
docker/.chroma_env
docker/redis_data/*
docker/redis-users.acl
